.form {
  width: 100%;
  /* margin: 2rem auto; */
  margin-top: 10px;
  text-align: center;
  background: url(../../public/assets/images/Chalk_Text_Effect.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: #fff;
  padding: 3rem;
  padding-top: 0rem;
  position: relative;
  overflow: hidden;
}

.form:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -5%;
  left: -5%;
  height: 120px;
  background: rgb(255, 255, 255);
  -webkit-clip-path: ellipse(50% 60% at 10% 100%);
  clip-path: ellipse(50% 60% at 50% 100%);
}

.form input {
  border-radius: 5px;
  padding: 1rem;
  border: 1px solid #fff;
  outline: none;
  font-size: 1rem;
  width: 100%;
  margin-right: 30px;
  background-color: transparent;
  color: #fff;
  /* margin-left: auto;
  margin-right: auto; */
}

.form input::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.form input::-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

.form input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}

.formElement textarea::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}

.formElement textarea {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem;
  color: #fff;
  outline: none;
  font-size: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  resize: none;
  background-color: transparent;
  height: 30vh;
}

.main {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.formElement {
  width: 100%;
  margin-right: 20px;
}
.flexDiv {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
  align-items: center;
  /* padding: 20px; */
  margin-bottom: 30px;
}
.form button {
  border-radius: 5px;
  min-width: 200px;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: 10%;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #707070;
  color: white;
  border: 2px solid #707070;
  transition: 0.2s;
}

.form button:hover {
  color: #707070;

  background-color: #fff;
}

@media (max-width: 600px) {
  .form {
    width: 100%;
    padding: 1rem;
    padding-bottom: 0rem;
  }
  .formElement {
    width: 100% !important;
  }

  .form:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -5%;
    left: -5%;
    height: 120px;
    background: #fff;
    -webkit-clip-path: ellipse(90% 60% at 10% 100%);
    clip-path: ellipse(90% 60% at 50% 100%);
  }
  .formElement textarea {
    width: 100% !important;
  }
  .flexDiv {
    display: flex-wrap;
    width: 100%;
  }

  .title {
    margin-left: 0% !important;
  }
  .form button {
    margin-right: 0% !important;
  }

  .main {
    width: 90%;
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 10%; */
  margin-left: auto;
  margin-right: auto;
  color: blue;
}
