.form {
  width: 100%;
  /* margin: 2rem auto; */
  margin-top: 50px;
  text-align: center;
  background-color: #58af65;
  color: #fff;
  padding: 50px;
}

.form input {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 100%;
  margin-right: 30px;
  /* margin-left: auto;
  margin-right: auto; */
}

.formElement textarea {
  border-radius: 5px;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-family: inherit;
  resize: none;
  height: 30vh;
}

.formElement {
  width: 100%;
  margin-right: 20px;
}
.flexDiv {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  /* justify-content: center; */
  align-items: center;
  /* padding: 20px; */
  margin-bottom: 30px;
}
.form button {
  border-radius: 5px;
  min-width: 200px;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: 10%;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #58af65;
  color: white;
  border: 2px solid #fff;
  transition: 0.2s;
}

.form button:hover {
  color: #58af65;

  background-color: #fff;
}

@media (max-width: 600px) {
  .formElement{
    width: 100% !important;
  }
  .formElement textarea {
    width: 100% !important;
  }
  .flexDiv {
    display: flex-wrap;
    width: 100%;
  }

  .title {
    margin-left: 0% !important;
  }
  .form button {
    margin-right: 0% !important;
  }
}
