.wrapper {
  width: 25%;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}
.wrapper span {
  border-radius: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info p {
  font-weight: 300;
  color: #333;
  margin: 0;
  line-height: 1;
}

@media (max-width: 1055px) {
  .wrapper {
    min-width: 50%;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    min-width: 50% !important;
    text-align: center;
    padding: 10px;
  }

  .info p {
    font-weight: 300;
    color: #333;
    margin: 0;
    line-height: 1;
    font-size: 0.8rem;
  }
}
