.wrapper {
  width: 70%;
  text-align: center;
  padding: 10px;
}
.wrapper span {
  border-radius: 12px;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.info p {
  font-weight: 300;
  color: #333;
  margin: 0;
}

@media (max-width: 1055px) {
  .wrapper {
    min-width: 90%;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .wrapper {
    min-width: 100% !important;
    text-align: center;
    padding: 10px;
  }

  .info p {
    font-weight: 300;
    color: #333;
    margin: 0;
  }
}
