.wrapper {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  background-color: #ffff0000;
}

.flexContainer {
  display: flex;
  align-items: top;
}

.flexContainer2 {
  display: flex;
  justify-content: space-around;
}

.flexContainer span {
  border-radius: 15px;
}

.innerContainer {
  width: 50%;
  text-align: center;
  padding: 30px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 300;
  line-height: 33.5px;
}

.secondDiv {
  display: flex;
  /* align-items: center; */
  height: 100%;
  margin-top: 50px;
}

.innerFlexDiv {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  justify-content: space-between;
  /* padding: 30px; */
}

.rightDiv {
  padding-top: 0px;
  padding-left: 30px;
  width: 40%;
  height: 100%;
}

.rightDiv p {
  margin-top: 0px;
}
.lightFont {
  font-weight: 300;
  color: #333;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  /* padding-right:20px; */
}

.imgContainer {
  width: 30%;
  margin-left: 6%;
}
.imgContainer1 {
  width: 40%;
  margin-top: auto;
  margin-bottom: auto;
}

.innerContainer p {
  padding-top: 20px;
}

.mainImg {
  display: none;
}

@media (max-width: 1055px) {
  .mainImgUpper {
    display: none;
  }

  .flexContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .innerContainer {
    width: 100%;
  }

  .imgContainer {
    width: 100%;
  }

  .lightFont {
    width: 100% !important;
    margin-bottom: 1;
  }
  .wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .innerContainer p {
    padding-top: 0px;
  }

  .secondDiv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .innerFlexDiv {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .rightDiv {
    padding-left: 0px !important;
  }
  .rowImg {
    margin: 4px;
  }
  .mainImg {
    display: block !important;
  }
}
