.wrapper {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  background-color: #ffff0000;
}

.flexContainer {
  display: flex;
  align-items: top;
}

.flexContainer2 {
  display: flex;
  justify-content: space-around;
}

.flexContainer3 {
  display: flex;
  justify-content: space-around;
}

.flexContainer span {
  border-radius: 15px;
}

.innerContainer {
  width: 50%;
  font-weight: 300;
}

.secondDiv {
  display: flex;
  /* align-items: center; */
  height: 100%;
  margin-top: 50px;
}

.innerFlexDiv {
  display: flex;
  align-items: center;
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  justify-content: space-between;
  /* padding: 30px; */
}

.ff {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rightDiv {
  padding-top: 0px;
  padding-left: 30px;
  width: 40%;
  height: 100%;
}
.lol {
  margin-bottom: 3rem;
}

.rightDiv p {
  margin-top: 0px;
}
.lightFont {
  font-weight: 300;
  color: #333;
  width: 90%;

  /* padding-right:20px; */
}

.rowImg {
  margin: 3px;
}

.imgContainer {
  width: 30%;
}
.imgContainer1 {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

.innerContainer p {
  padding-top: 20px;
}

.mainImg {
  display: none;
}

.container23 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media (max-width: 1055px) {
  .mainImgUpper {
    display: none;
  }

  .flexContainer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .flexContainer2 {
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .flexContainer3 {
    flex-direction: column-reverse;
    align-items: left;
    justify-content: center;
  }

  .container23 {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }

  .innerContainer {
    width: 100%;
  }

  .imgContainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .imgContainer1 {
    width: 100%;
    margin-top: 2rem;
  }

  .lightFont {
    width: 100% !important;
    text-align: justify;
  }
  .wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .innerContainer p {
    padding-top: 0px;
  }

  .secondDiv {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .innerFlexDiv {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 2rem;
  }
  .rightDiv {
    padding-left: 0px !important;
  }
  .rowImg {
    margin: 2px;
  }
  .mainImg {
    display: block !important;
  }

  .lol {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0rem;
  }
}
