.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  /* grid-gap: 1.5rem; */
}

.container {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  background: url(../../public/assets/images/board.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: #fff;
  /* color: #000; */
}

.innerContainer {
  width: 80%;
  margin: 2rem auto;
}

.seeMore {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -50px;
  text-align: right;
  padding-right: 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
}
