.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  /* grid-gap: 1.5rem; */
}

.container {
  margin-top: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100vw;
  background: url(../../public/assets/images/board.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: #fff;
  /* color: #000; */
}

.innerContainer {
  width: 80%;
  margin: 2rem auto;
}

.seeMore {
  display: flex;
  justify-content: flex-end;
}
