.wrapper {
  background-color: #fff;
  color: rgba(116, 113, 113, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 30px !important; */
  width: 100vw !important;
  /* padding: 10px; */
  padding-left: 80px;
  padding-right: 80px;
  font-weight: 300;
  line-height: 33.5px;
  font-size: 1.5rem;
}

.container {
  /* margin-top: 50px !important; */
  background-color: #fff;
  color: rgba(116, 113, 113, 1);
  padding-top: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 10%; */
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

.links {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding-left: 0.9rem;
    padding-right: 0.7rem;
    padding-top: 0;
  }
  .wrapper {
    font-size: 1rem;
    justify-content: space-end;
    padding-left: 0%;
    padding-right: 8%;
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 10%; */
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
  }
}
