.outerWrapper {
  background: url(../../public/assets/images/intro1.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  padding-bottom: 2vw;
  padding-top: 1vw;
  color: #fff !important;
  height: 110vh;
}

.card {
  min-width: 300px;
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
  background: #e9e9e9;
  color: #2e5999;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: auto;
  text-align: center;
  padding: 30px;
  position: relative;
  top: -30vh;
}

.wrapper {
  display: block;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.upperContainer {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 170%;
}

.lightFont {
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.flexContainer {
  margin-top: 50px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.innerContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px !important;
}

@media (max-width: 1055px) {
  .flexContainer {
    flex-direction: column;
  }

  .innerContainer {
    margin-top: 30px;
    text-align: center;
    width: 90%;
  }
}
