.outerWrapper {
  background: url(../../public/assets/images/intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2vw;
  padding-top: 0vw;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff !important;
  min-height: 110vh;
  /* clip-path: polygon(
    100% 100%,
    100% 0%,
    0% 0%,
    0% 100%,
    8% 88%,
    8% 89%,
    24% 71%,
    33% 63%,
    42% 59%,
    52% 57%,
    62% 57%,
    71% 62%,
    80% 68%,
    87% 78%
  ); */
}

.card {
  max-width: 40vw;
  width: 60vw;
  height: auto;
  font-size: 1.5rem;
  padding-top: 0.7rem;
  bottom: 11vh;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #e9e9e9;
  color: #2e5999;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.card h3 {
  margin-bottom: 0px;
}

.wrapper {
  display: block;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.upperContainer {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 170%;
}

.lightFont {
  font-weight: 200;
  color: rgb(255, 255, 255);
}

.flexContainer {
  margin-top: 50px;
  font-size: 150%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.innerContainer {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0px !important;
}

@media (max-width: 1055px) {
  .flexContainer {
    flex-direction: column;
  }

  .innerContainer {
    margin-top: 30px;
    text-align: center;
    width: 90%;
  }

  .outerWrapper {
    height: 42vh !important;
    min-height: 0vh;
  }
  .card {
    width: 75vw !important;
    top: -15vh !important;
    padding: 1rem;
    max-width: 100vw !important;
  }
}
