.wrapper {
  /* text-align: center; */
  display: block;
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 50px;
}

.lightFont {
  font-weight: 300;
  line-height: 33.5px;
  color: #333;
  /* padding-right:20px; */
}

.flexDiv {
  display: flex;
  /* flex-direction: row; */
}

.imageDiv span {
  border-radius: 20px;
}

@media (max-width: 1055px) {
  .flexDiv {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .text {
    text-align: center;
    width: 100% !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto;
  }
  .lightFont {
    padding-right: 0 !important;
  }
}
