.info p {
  margin: 0px;
  text-align: left;
}

.map {
  margin-top: 20px;
  margin-bottom: 20px;
}


.wrapper{
  min-width: 30%;
  width: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 800px) {
  .wrapper{
    min-width: 30%;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
  
}